#navbar {
	background-color: #1d1e1a;
}

#navbar .nav-item:active {
	outline: none;
	box-shadow: none;
}

#navbar .nav-item a.nav-link {
	color: white;
	transition: color 0.25s ease;
}

#navbar .nav-item a.nav-link:hover {
	color: #b45822;
}

#navbar .nav-item.active a.nav-link {
	color: #ffc107;
}
