@font-face {
	font-family: Hacked;
	src: url(https://hackedfont.com/HACKED.ttf);
}

#navbar {
	background-color: #1d1e1a;
}

#navbar .navbar-brand {
	font-size: xx-large;
	font-family: Hacked;
	color: #4bff8b;
}

#navbar .nav-item:active {
	outline: none;
	box-shadow: none;
}

#navbar .nav-item a.nav-link {
	color: white;
	transition: color 0.25s ease;
}

#navbar .nav-item a.nav-link:hover {
	color: #a6ffda;
}

#navbar .nav-item.active a.nav-link {
	color: #4bff8b;
}

@media (max-width: 960px) {
	a.navbar-brand {
		margin-right: 0;
	}
}
